name: CI/CD test_deploy

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  job-1:
    # CI chỉ chạy khi có pull_request
    name: build images 
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to DockerHub
        run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin

      - name: Build Docker image
        run: docker build -t hoangank/my-juice-shop:${{ github.sha }} .

      - name: Push Docker image
        run: docker push hoangank/my-juice-shop:${{ github.sha }}

      - name: Save image tag
        run: echo "IMAGE_TAG=${{ github.sha }}" >> $GITHUB_ENV

  job-2:
    name: test
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x, 22.x, 24.x]

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - run: npm ci
      - run: npm run build --if-present
      - run: npm test

  job-3:
    name: cd
    runs-on: ubuntu-latest
    needs: [job-1]
    if: alway()
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up kubeconfig
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBECONFIG }}" > ~/.kube/config

      - name: Deploy manifests
        run: |
          if [ -n "${{ env.IMAGE_TAG }}" ]; then
            echo "Update deployment with new image"
            kubectl set image deployment/juice-shop juice-shop=hoangank/my-juice-shop:${{ env.IMAGE_TAG }} --record || kubectl apply -f k8s/
          else
            echo "No new image, apply YAML only"
            kubectl apply -f k8s/
